.launcher {
  border-radius: 18px;
  height: 36px;
  bottom: 6px;
  right: 6px;
  padding-left: 13px;
  padding-right: 18px;
  z-index: 15;
}

@screen md {
  .launcher {
    bottom: 20px;
    right: 20px;
    min-width: 123px;
  }
}
