/* purgecss start ignore */

:root {
  --tileSize: 47px;
  --tileSizeSmall: 39px;
  --tileHighlightSize: 32px;
}

.calendarContainer {
  z-index: 100;
}

.react-calendar {
  @apply shadow-hard rounded-6 bg-white leading-xs w-12/12 p-10;
}

@screen xxs {
  .react-calendar {
    min-width: 346px;
  }
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  @apply box-border;
}

.react-calendar button {
  @apply m-0 p-0 outline-none;
}
.react-calendar button:enabled:hover {
  @apply cursor-pointer;
}

.react-calendar .react-calendar__navigation {
  @apply mb-5;
  height: var(--tileSize);
}
.react-calendar .react-calendar__navigation button {
  min-width: var(--tileSize);
  background: none;
}

.react-calendar .react-calendar__navigation button[disabled] {
  @apply invisible;
}

.react-calendar .react-calendar__month-view__weekdays {
  @apply text-center uppercase no-underline pb-10;
}

.react-calendar .react-calendar__month-view__weekdays__weekday {
  @apply border-b border-grey-1 text-center uppercase no-underline pb-10;
  text-decoration-line: none !important;
}

.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  @apply text-grey-3;
}

.react-calendar .react-calendar__year-view .react-calendar__tile,
.react-calendar .react-calendar__decade-view .react-calendar__tile,
.react-calendar .react-calendar__century-view .react-calendar__tile {
  @apply rounded-none;
}

.react-calendar .react-calendar__tile {
  width: var(--tileSizeSmall);
  height: var(--tileSizeSmall);
  background: none;
}

@screen xxs {
  .react-calendar .react-calendar__tile {
    width: var(--tileSize);
    height: var(--tileSize);
  }
}

.react-calendar .react-calendar__tile abbr {
  @apply text-center rounded-half inline-block pt-5;
  width: var(--tileHighlightSize);
  height: var(--tileHighlightSize);
}

.react-calendar .react-calendar__year-view__months__month abbr) {
  @apply w-12/12 h-full rounded-none pt-12;
}

.react-calendar .react-calendar__navigation button:enabled:hover,
.react-calendar .react-calendar__navigation button:enabled:focus,
.react-calendar .react-calendar__tile:enabled:hover abbr,
.react-calendar .react-calendar__tile:enabled:focus abbr,
.react-calendar .react-calendar__tile--active:enabled:hover abbr,
.react-calendar .react-calendar__tile--active:enabled:focus abbr {
  @apply bg-teal-light text-black;
}

.react-calendar .react-calendar__tile:disabled {
  @apply bg-grey-2 rounded-none cursor-not-allowed;
}

.react-calendar .react-calendar__tile--active abbr {
  @apply bg-teal text-white;
}

.react-calendar .react-calendar__navigation__label__labelText {
  @apply font-bold;
}

/* purgecss end ignore */
