input {
  @apply text-grey-dark;
}

input[type="number"],
input[type="text"],
textarea {
  @apply px-10 py-13 border border-grey-2 rounded-4 truncate leading-sm;
}

input[type="number"].input_withClearButton,
input[type="text"].input_withClearButton {
  @apply pr-30;
}

input[type="checkbox"] {
  @apply flex-shrink-0 appearance-none outline-none text-white rounded-4 h-checkbox w-checkbox border border-grey-2;
}

input[type="checkbox"]:checked {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFF' stroke-width='2.2' d='M5 10.875L8.354 13.5l6.126-7' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  @apply bg-teal border-teal;
}

input[type="checkbox"]:checked:disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23D7DBDF' stroke-width='2.2' d='M5 10.875L8.354 13.5l6.126-7' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}

input[type="checkbox"]:checked:hover {
  @apply bg-teal-dark border-teal-dark;
}

input[type="checkbox"]:checked:focus {
  @apply bg-teal-opaque border-teal-opaque;
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="checkbox"]:focus:not(.checkbox-buttonStyle),
textarea:focus {
  @apply border-teal outline-none;
}


input[type="number"]:hover,
input[type="text"]:hover,
input[type="checkbox"]:hover:not(.checkbox-buttonStyle),
textarea:hover {
  @apply border-grey-dark transition duration-200;
}

input[type="number"]:disabled,
input[type="number"]:disabled:hover,
input[type="text"]:disabled,
input[type="text"]:disabled:hover,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
  @apply bg-grey-bright text-grey-3;
  @apply border-grey-2 cursor-not-allowed;
}

input[type="number"][data-valid="false"],
input[type="text"][data-valid="false"],
input[type="checkbox"][data-valid="false"]:not(.checkbox-buttonStyle),
textarea[data-valid="false"] {
  @apply border-salmon text-salmon;
}

input[type="number"][data-valid="false"]:focus,
input[type="text"][data-valid="false"]:focus,
textarea[data-valid="false"]:focus {
  @apply text-grey-dark;
}

.inputRadio {
  @apply block relative cursor-pointer h-checkbox w-checkbox;
}

.inputRadio-input {
  @apply absolute opacity-0 cursor-pointer;
  height: 0;
  width: 0;
}

.inputRadio-checkmark {
  @apply absolute top-0 left-0 h-checkbox w-checkbox border rounded-half border-grey-2;
}

.inputRadio-input:hover ~ .inputRadio-checkmark {
  @apply border-grey-3;
}

.inputRadio-input:focus ~ .inputRadio-checkmark {
  @apply border-teal;
}

.inputRadio-input:disabled ~ .inputRadio-checkmark,
.inputRadio-input:disabled:hover ~ .inputRadio-checkmark,
.inputRadio-input:disabled:checked ~ .inputRadio-checkmark,
.inputRadio-input:disabled:checked:hover ~ .inputRadio-checkmark {
  @apply bg-grey-bright text-grey-3 border-grey-2 cursor-not-allowed;
}

.inputRadio-input:checked ~ .inputRadio-checkmark {
  @apply bg-teal border-teal;
}

.inputRadio-input:checked:hover ~ .inputRadio-checkmark {
  @apply bg-teal-dark border-teal-dark;
}

.inputRadio-input:checked:focus ~ .inputRadio-checkmark {
  @apply bg-teal-opaque border-teal-opaque;
}


.inputRadio-checkmark:after {
  content: "";
  @apply absolute hidden;
}

.inputRadio-input:checked ~ .inputRadio-checkmark:after {
  @apply block;
}

.inputRadio .inputRadio-checkmark:after {
  @apply top-radioIndicator left-radioIndicator w-radioIndicator h-radioIndicator rounded-half bg-white;
}

.inputRadio-input:disabled:checked ~ .inputRadio-checkmark:after,
.inputRadio-input:disabled:checked:hover ~ .inputRadio-checkmark:after {
  @apply bg-grey-3;
}

input.floatingLabel-input {
  @apply bg-transparent;
}

input.floatingLabel-input:focus {
  @apply pb-floatingLabelInputFocused;
}

.floatingLabel-label {
  @apply absolute text-grey-3 top-0;
  @apply left-floatingLabel transition duration-200;
}

input.floatingLabel-input:focus ~ .floatingLabel-label {
  @apply text-teal
}

.floatingLabel-input[data-valid="false"] ~ .floatingLabel-label {
  @apply text-salmon
}

.floatingLabel-input:focus ~ .floatingLabel-label,
.floatingLabel-input:disabled ~ .floatingLabel-label,
.floatingLabel-input:valid ~ .floatingLabel-label,
.validation-errorMessage ~ .validation-inputContainer > .floatingLabel >  .floatingLabel-input:invalid ~ .floatingLabel-label {
  @apply text-xs -top-floatingLabel;
}


input::-webkit-input-placeholder {
  opacity: 1;
}

input:placeholder-shown {
  @apply text-grey-3;
}

.select {
  background-color: transparent;
  background-position: right;
  background-repeat: no-repeat;
  @apply transition duration-200;
}

.select_open {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill-rule='evenodd' fill='%23D7DBDF' d='M12 18h8l-4-4z'/%3E%3C/svg%3E%0A");
}

.select_open[data-valid="false"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill-rule='evenodd' fill='%23F73B47' d='M12 18h8l-4-4z'/%3E%3C/svg%3E%0A");
}

.select_closed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill-rule='evenodd' fill='%23D7DBDF' d='M12 14h8l-4 4z'/%3E%3C/svg%3E");
}

.select_closed[data-valid="false"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill-rule='evenodd' fill='%23F73B47' d='M12 14h8l-4 4z'/%3E%3C/svg%3E");
}

.select_withSearchIcon {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.356 19.542l.05.05 4.535 4.535.353.354-.707.707-.353-.354L18.7 20.3l-.115-.115a7 7 0 1 1 .771-.643zM8.5 14.5a6 6 0 1 0 12 0 6 6 0 0 0-12 0z'/%3E%3C/svg%3E");
}

.select_withSearchIcon[data-valid="false"] {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F73B47' d='M19.356 19.542l.05.05 4.535 4.535.353.354-.707.707-.353-.354L18.7 20.3l-.115-.115a7 7 0 1 1 .771-.643zM8.5 14.5a6 6 0 1 0 12 0 6 6 0 0 0-12 0z'/%3E%3C/svg%3E");
}

/* hide ie specific input controls */
/* hide step arrows on number inputs */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hide webkit specific input controls */
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-clear */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-reveal */
input::-ms-clear,
input::-ms-reveal {
  width: 0;
  height: 0;
}
