input {
  @apply text-grey-dark;
}

input[type="number"],
input[type="text"],
textarea {
  @apply px-10 py-13 border border-grey-2 rounded-2 truncate leading-sm;
}

input[type="number"].input--withClearButton,
input[type="text"].input--withClearButton {
  @apply pr-30;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  @apply border-teal outline-none;
}


input[type="number"]:hover,
input[type="text"]:hover,
textarea:hover {
  @apply border-grey-dark transition duration-200;
}

input[type="number"]:disabled,
input[type="number"]:disabled:hover,
input[type="text"]:disabled,
input[type="text"]:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
  @apply bg-grey-bright text-grey-3;
  @apply border-grey-2 cursor-not-allowed;
}

input[type="number"][data-valid="false"],
input[type="text"][data-valid="false"],
textarea[data-valid="false"] {
  @apply border-salmon;
}

input.floatingLabel__input {
  @apply bg-transparent;
}

input.floatingLabel__input:focus {
  @apply pb-floatingLabelInputFocused;
}

.floatingLabel__label {
  @apply absolute text-grey-3 top-0;
  @apply left-floatingLabel transition duration-200;
}

input.floatingLabel__input:focus ~ .floatingLabel__label {
  @apply text-teal
}

.floatingLabel__input[data-valid="false"] ~ .floatingLabel__label {
  @apply text-salmon
}

.floatingLabel__input:focus ~ .floatingLabel__label,
.floatingLabel__input:disabled ~ .floatingLabel__label,
.floatingLabel__input:valid ~ .floatingLabel__label,
.validation__errorMessage ~ .validation__inputContainer > .floatingLabel >  .floatingLabel__input:invalid ~ .floatingLabel__label {
  @apply text-xs -top-floatingLabel;
}


input::-webkit-input-placeholder {
  opacity: 1;
}

input:placeholder-shown {
  @apply text-grey-3;
}

/* hide ie specific input controls */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-clear */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-reveal */
::-ms-clear,
::-ms-reveal {
  width: 0;
  height: 0;
}

/* hide step arrows on number inputs */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hide webkit specific input controls */
::-webkit-contacts-auto-fill-button {
  visibility: hidden;
}
