.intercom-launcher {
  border-radius: 18px;
  height: 36px;
  bottom: 182px;
  right: 6px;
  min-width: 123px;
  padding-left: 13px;
  padding-right: 18px;
  z-index: 15;
}

@screen md {
  .intercom-launcher {
    bottom: 132px;
    right: 20px;
  }
}

@screen lg {
  .intercom-launcher {
    bottom: 104px;
    right: 20px;
  }
}
