/* purgecss start ignore */

@value tileSize: 47px;
@value tileSizeSmall: 39px;
@value tileHighlightSize: 32px;

:local .container {
    z-index: 100;
}

:local .react-calendar {
    @apply shadow-hard rounded-6 bg-white leading-xs w-12/12 p-10;
}

@screen xxs {
    :local .react-calendar {
        min-width: 346px;
    }
}

:local .react-calendar,
:local .react-calendar *,
:local .react-calendar *:before,
:local .react-calendar *:after {
    @apply box-border;
}

:local .react-calendar :global(button) {
    @apply m-0 p-0 outline-none;
}
:local .react-calendar :global(button:enabled:hover) {
    @apply cursor-pointer;
}

:local .react-calendar :global(.react-calendar__navigation) {
    @apply mb-5;
    height: tileSize;
}
:local .react-calendar :global(.react-calendar__navigation button) {
    min-width: tileSize;
    background: none;
}

:local .react-calendar :global(.react-calendar__navigation button[disabled]) {
    @apply invisible;
}

:local .react-calendar :global(.react-calendar__month-view__weekdays) {
    @apply text-center uppercase no-underline pb-10;
}

:local .react-calendar :global(.react-calendar__month-view__weekdays__weekday) {
    @apply border-b border-grey-1 text-center uppercase no-underline pb-10;
    text-decoration-line: none !important;
}

:local
.react-calendar
:global(.react-calendar__month-view__weekdays__weekday abbr) {
    text-decoration: none !important;
}

:local
.react-calendar
:global(.react-calendar__month-view__days__day--neighboringMonth) {
    @apply text-grey-3;
}
:local
.react-calendar
:global(.react-calendar__year-view .react-calendar__tile),
:local
.react-calendar
:global(.react-calendar__decade-view .react-calendar__tile),
:local
.react-calendar
:global(.react-calendar__century-view .react-calendar__tile) {
    @apply rounded-none;
}

:local .react-calendar :global(.react-calendar__tile) {
    width: tileSizeSmall;
    height: tileSizeSmall;
    background: none;
}

@screen xxs {
    :local .react-calendar :global(.react-calendar__tile) {
        width: tileSize;
        height: tileSize;
    }
}

:local .react-calendar :global(.react-calendar__tile abbr) {
    @apply text-center rounded-half inline-block pt-5;
    width: tileHighlightSize;
    height: tileHighlightSize;
}

:local .react-calendar :global(.react-calendar__year-view__months__month abbr) {
    @apply w-12/12 h-full rounded-none pt-12;
}

:local
.react-calendar
:global(.react-calendar__navigation button:enabled:hover),
:local
.react-calendar
:global(.react-calendar__navigation button:enabled:focus),
:local .react-calendar :global(.react-calendar__tile:enabled:hover abbr),
:local .react-calendar :global(.react-calendar__tile:enabled:focus abbr),
:local
.react-calendar
:global(.react-calendar__tile--active:enabled:hover abbr),
:local
.react-calendar
:global(.react-calendar__tile--active:enabled:focus abbr) {
    @apply bg-teal-light text-black;
}

:local .react-calendar :global(.react-calendar__tile:disabled) {
    @apply bg-grey-2 rounded-none cursor-not-allowed;
}

:local .react-calendar :global(.react-calendar__tile--active abbr) {
    @apply bg-teal text-white;
}

:local .react-calendar :global(.react-calendar__navigation__label__labelText) {
    @apply font-bold;
}

/* purgecss end ignore */
